package components

templ Error404(path string) {
	@base("404 Not Found") {
		<p><strong>404 error:</strong> <code>{ path }</code> not found.</p>
		<img alt="A confused John Travolta looks for your missing page.gif" src="https://i.gifer.com/7VE.gif"/>
	}
}
